{
    "swagger": "2.0",
    "info": {
        "description": "Web server example by GoFiber⚡️ and CockroachDB📖",
        "title": "UnripeBison Server API",
        "contact": {
            "name": "Github",
            "url": "https://github.com/Aysnine/unripe-bison"
        },
        "license": {
            "name": "MIT"
        },
        "version": "v0"
    },
    "host": "unripe-bison.cnine.me",
    "basePath": "/",
    "paths": {
        "/api/books": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "books",
                "operationId": "get-books"
            },
            "post": {
                "produces": [
                    "application/json"
                ],
                "summary": "books",
                "operationId": "add-book"
            }
        },
        "/api/hongkong-weather": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "hongkong weather info",
                "operationId": "get-hongkong-weather"
            }
        },
        "/api/random-anime-image": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "hongkong weather info",
                "operationId": "get-random-anime-image"
            }
        },
        "/chat": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "global chat room",
                "operationId": "chat"
            }
        }
    }
}